build-plugin:
   stage: build
   script:
        -cd ./src
        - make 
        #-C ImplementationGenerator bundle
   artifacts:
        paths:
            - ./ImplementationGenerator.cbplugin
   only:
      - master
